/* Color Theme Swatches in Hex */
.Access-Inspiration-1-hex { color: #505248; }
.Access-Inspiration-2-hex { color: #DDDDC0; }
.Access-Inspiration-3-hex { color: #A11E17; }
.Access-Inspiration-4-hex { color: #19303A; }
.Access-Inspiration-5-hex { color: #CD9B3F; }

/* Color Theme Swatches in RGBA */
.Access-Inspiration-1-rgba { color: rgba(80, 82, 72, 1); }
.Access-Inspiration-2-rgba { color: rgba(221, 221, 192, 1); }
.Access-Inspiration-3-rgba { color: rgba(161, 30, 23, 1); }
.Access-Inspiration-4-rgba { color: rgba(25, 48, 58, 1); }
.Access-Inspiration-5-rgba { color: rgba(205, 155, 63, 1); }

/* Color Theme Swatches in HSLA */
.Access-Inspiration-1-hsla { color: hsla(72, 6, 30, 1); }
.Access-Inspiration-2-hsla { color: hsla(60, 29, 80, 1); }
.Access-Inspiration-3-hsla { color: hsla(3, 75, 36, 1); }
.Access-Inspiration-4-hsla { color: hsla(198, 39, 16, 1); }
.Access-Inspiration-5-hsla { color: hsla(38, 58, 52, 1); }

/* Store variables here: */
/* :root {
} */

button:focus, input:focus, a:focus, textarea:focus {
    /* outline: 3px dashed orange; */
    outline: 5px dashed rgba(25, 48, 58, 1);
    outline-offset: 2px;
}

header a:focus {
    outline: 5px dashed rgba(25, 48, 58, 1);
    outline-offset: 2px;
}

html {
    /* If you want to create the gap by shrinking the content, set the box-sizing property to border-box (i.e. box-sizing: border-box). */
    /* https://blog.hubspot.com/website/css-margin-vs-padding */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
}

/* Sticky Footer */
.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Make everything inherit the box-sizing. */
*, *:before, *:after {
    box-sizing: inherit;
}

/* Create some padding to separate content from page bounds. */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax */
/* Set margin to 0 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/margin#syntax */
header, main {
    /* vertical | horizontal */
    margin: 0 0;
    /* vertical | horizontal */
    padding: 0 0;
}

/* Colors */
a {
    color: rgba(161, 30, 23, 1);
}

body {
    color: rgba(25, 48, 58, 1);
    background-color: rgba(219, 219, 189, 0.7);
    border-top: 25px solid rgba(25, 48, 58, 1);
}

.full-width-header {
    background-color: rgba(205, 155, 63, 1);
    border-top: .25em solid rgba(161, 30, 23, 1);
    border-bottom: .5em solid rgba(25, 48, 58, 1);
}

header {
    background-color: rgba(205, 155, 63, 1);
}

footer {
    color: rgba(25, 48, 58, 1);
    text-align: right;
    padding: 2em;
}

footer * {
    font-size: 1.5em;
}

footer > a {
    display: inline-block;
    margin: .25em;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

div.nav-and-status-logout-block {
    /* top | right | bottom | left */
    /* vertical | horizontal */
    padding: 0 1em;
}

/* nav {
    text-align: left;    
} */

nav > a {
    display: inline-block;
    margin: 0.5em 0em;
    font-size: 1.75em;
    color: rgba(25, 48, 58, 1);
}

/* div.status-logout-block {
    text-align: right;
} */

div.status-logout-block * {
    /* "display: inline-block;" will allow margins. Without it, there are no top or bottom margins since <a> are inline elements. */
    display: inline-block;
    margin: 0.5em 0em;
    font-size: 1.75em;
    color: rgba(25, 48, 58, 1);
}

div.sign-up-block {
    /* top | right | bottom | left */
    /* vertical | horizontal */
    margin: 2em 5% auto 5%;
    padding: 1.5em;
    border: 2px solid rgba(25, 48, 58, 1);
}

div.sign-up-block li {
    font-size: 1.5em;
}

div.sign-up-block label {
    display: block;
}

div.sign-up-block input {
    width: 95%;
    display: block;
    margin: .3em;
}

div.sign-up-block h2 {
    font-size: 2.5em;
}

div.login-block {
    /* top | right | bottom | left */
    /* vertical | horizontal */
    margin: 2em 5% auto 5%;
    padding: 1.5em;
    border: 2px solid rgba(25, 48, 58, 1);    
}

div.login-block h2 {
    font-size: 2.5em;
}

div.login-block label {
    display: block;
}

div.login-block input {
    width: 95%;
    display: block;
    margin: .3em;
}

/* Now: Let's change the font for all text in 'body'. */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button, h3, label {
    font-size: 1.35em;
}

input, textarea {
    font-size: 1.5em;
}

header {
    width: 100%;
    text-align: center;
    padding: 0 2em;
}

.full-width-header {
    width: 100%;
}

div.status-logout-block span {
    text-transform: capitalize;
}

fieldset.new-link-creation {
    width: 95%;
    padding: 1em;
    /* "margin: auto" will center the block element in container. */
    margin: auto;
    margin-top: 3em;
}

fieldset.new-link-creation input {
    width: 100%;
}

fieldset.new-link-creation legend {
    font-size: 1.5em;
}

fieldset.new-link-creation > h2 {
    margin: 1em;
}

fieldset.new-link-creation > label {
    display:inline-block;
    /* top | right | bottom | left */
    margin: 2em 1em .5em 0em;
}

fieldset.new-link-creation > button {
    display:inline-block;
    /* top | right | bottom | left */
    margin-top: 1.5em;
}

div.where-the-taps-live h2 {
    margin: 1.5em;
}

article.a-tap-in-the-list h3 {
    font-size: 1.3em;
    margin-top: 0;
    /* top | right | bottom | left */
}

article.a-tap-in-the-list a {
    font-size: 1.6em;
}

article.a-tap-in-the-list p {
    font-size: 1.4em;
}

article.a-tap-in-the-list {
    border: #465B8C solid 2px;
    margin: 1em;
    padding: 1.5em;
    /* top | right | bottom | left */
    /* vertical | horizontal */
}

article.a-current-tap {
    margin: auto 1em;
    border: #465B8C solid 2px;
    padding: 2em;
}

article.a-current-tap a {
    font-size: 1.6em;
}

article.a-current-tap p {
    font-size: 1.4em;
}

fieldset.an-editing-tap {
    width: 95%;
    padding-right: 3em;
    /* vertical | horizontal */
    /* top | right | bottom | left */
    margin: 3em auto auto auto;
}

fieldset.an-editing-tap > label{
    display: inline-block;
    /* top | right | bottom | left */
    margin: 1em .75em 0em .75em;
}

fieldset.an-editing-tap > legend{
    font-size: 1.5em;
    /* vertical | horizontal */
    margin: 0em .75em;
}

fieldset.an-editing-tap input {
    width: 100%;
    display: inline-block;
    margin: .35em .75em .75em .75em;
}

fieldset.an-editing-tap button {
    margin: 1em;
}

div.thing-at-top-of-main {
    display: flex;
    flex-direction: row;
}

span.helptext {
    font-size: 1.25em;
}

@media (min-width: 700px) {
    .all-the-taps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    article.a-tap-in-the-list {
        width: 45%;
        /* vertical | horizontal */
        margin-bottom: .25em ;
    }

    div.nav-and-status-logout-block {
        display: flex;
        justify-content: space-between;
    }

    nav {
        text-align: left;
    }

    div.status-logout-block {
        text-align: right;
    }

}

@media (min-width: 1100px) {

    article.a-tap-in-the-list {
        width: 30%;
    }

    /* For single TAPs. */
    /* 100% or 100vw */

}

/* We should set a max width. If user uses a really large display width, we want the site to stay within reason. If the site had a design where the items could keep accumulating and the header would look good, we could still allow display width to grow. */
@media (min-width: 1400px) {
    header, main, footer {
        width: 1350px;
        margin-left: auto;
        margin-right: auto;
    }
}
