{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="thing-at-top-of-main">

  <div class="login-logout-block">
    <h2>User Login/Logout</h2>
    {% if user.is_authenticated %}
      Welcome, {{ user.username }}!
      <br>
      <a href="{% url 'logout' %}"> Log Out</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a><br>
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

  </div>

  <template v-if="createBlockIsDisplayed">
    <div class="new-link-creation">
      <h2>Create a new Link</h2>
      <label for="new-title-input">Link Title</label><br>
      <input v-model="newTitle" id="new-title-input" type="text" size="45">
      <br>
      <label for="new-url-input">Link URL</label><br>
      <input v-model="newUrl" id="new-url-input" type="text" size="45">
      <br>
      <label for="new-description-input">Link Extended Description</label><br>
      <input v-model="newDescription" id="new-description-input" type="text" size="45">
      <br>
      <label for="new-url-description-input">Link URL Description</label><br>
      <input v-model="newUrlLabel" id="new-url-description-input" type="text" size="45">
      <br>
      <button @click="createNewTap()">Submit new Link</button>
    </div>
  </template>
</div>


<div class="where-the-taps-live">
  <h2 v-if="Object.keys(taps).length">The List of Links</h2>
  <h2 v-if="Object.keys(currentTap).length">Viewing a Single Link</h2>
  <h2 v-if="Object.keys(editingCurrentTap).length">Editing a Single Link</h2>

  <div class="all-the-taps" id="all-the-taps">
    
    <template v-if="Object.keys(currentUser).length && !hideBigList">
      <article v-for="tap in currentUser.taps_detail" class="a-tap-in-the-list">
        <h3>[[ tap.title ]] - [[ currentUser.username ]]</h3>
        <a
          :href="tap.url"
          v-bind:title="tap.url_label"
          target="_blank"
        >
          [[ tap.url_label ]] (Opens in new tab)
        </a>
        <br>
        <p>[[ tap.id ]] : [[ tap.description ]]</p>
        <button
          @click="loadSingleTap(tap)"
        >
          View details for this Item
        </button>

      </article>
    </template>

    <template v-if="Object.keys(currentTap).length">
      <article :model="currentTap" class="a-current-tap">
        <h3>[[ currentTap.title ]] - [[ currentTap.author_detail.username ]]</h3>
        <a
          :href="currentTap.url"
          v-bind:title="currentTap.url_label"
          target="_blank"
        >
          [[ currentTap.url_label ]]
        </a>
        <br>
        <p>[[ currentTap.id ]] : [[ currentTap.description ]]</p>
        <a
          :href="currentTap.localBrowsableApiUrl"
          v-bind:title="currentTap.localBrowsableApiUrlDescription"
          target="_blank"
        >
          [[ currentTap.localBrowsableApiUrlDescription ]]
        </a>
        <br>
        <button @click="editTap()">Edit this Item</button>
      </article>
    </template>

    <template v-if="Object.keys(editingCurrentTap).length">
      <article class="an-editing-tap">
        <h3>[[ temporaryTapTitle ]] - [[ editingCurrentTap.author_detail.username ]]</h3>

        <label for="url-being-edited">URL</label>
        <br>
        <input v-model="editingCurrentTap.url" id="url-being-edited" type="text" size = "75">
        <br>

        <label for="title-being-edited">Title</label>
        <br>
        <input v-model="editingCurrentTap.title" id="title-being-edited" type="text" size="75">
        <br>

        <label for="url-label-being-edited">URL Label</label>
        <br>
        <textarea v-model="editingCurrentTap.url_label" id="url-label-being-edited" rows="6" cols="75"></textarea>
        <br>

        <label for="description-being-edited">Description</label>
        <br>
        <textarea v-model="editingCurrentTap.description" id="description-being-edited" rows="6" cols="75"></textarea>
        <br>

        <button @click="saveTap()">Save Changes</button>
        <button @click="loadSingleTap(editingCurrentTap)">Exit without saving</button>
        <button @click="deleteTap(editingCurrentTap)">Delete the Link</button>
      </article>
    </template>

  </div>
</div>



{% endblock %}