{% extends "base.html" %}

{% block title %}Link Library{% endblock %}


{% block content %}

<div class="thing-at-top-of-main">

  <template v-if="createBlockIsDisplayed">
    <fieldset class="new-link-creation">
      <legend>Create a new Link</legend>
      <label for="new-url-description-input">Link Label</label><br>
      <input v-model="newUrlLabel" id="new-url-description-input" autofocus type="text">
      <br>
      <label for="new-url-input">Link URL (optional)</label><br>
      <input v-model="newUrl" id="new-url-input" type="text">
      <br>
      <label for="new-description-input">Link Notes</label><br>
      <input v-model="newDescription" id="new-description-input" type="text">
      <br>
      <button @click="createNewTap()">Save Link</button>
    </fieldset>
  </template>
</div>


<div class="where-the-taps-live">
  <h2 v-if="Object.keys(taps).length">The List of Links</h2>
  <h2 v-if="Object.keys(currentTap).length">Viewing a Single Link</h2>

  <div class="all-the-taps" id="the-pages-main-content">
    
    <template v-if="Object.keys(currentUser).length && !hideBigList">
      <article v-for="tap in currentUser.taps_detail" class="a-tap-in-the-list">
        <a
          :href="tap.url"
          v-bind:title="tap.url_label"
          target="_blank"
        >
          [[ tap.url_label ]]
        </a>
        <br>
        <p>[[ tap.description ]]</p>
        <button
          @click="loadSingleTap(tap)"
        >
          View details for this Item
        </button>

      </article>
    </template>

    <template v-if="Object.keys(currentTap).length">
      <article :model="currentTap" class="a-current-tap">
        <a
          :href="currentTap.url"
          v-bind:title="currentTap.url_label"
          target="_blank"
        >
          [[ currentTap.url_label ]]
        </a>
        <br>
        <p>[[ currentTap.description ]]</p>
        <button @click="editTap()">Edit this Item</button>
      </article>
    </template>

    <template v-if="Object.keys(editingCurrentTap).length">
      <fieldset class="an-editing-tap">

        <legend>Editing Link Details of [[ temporaryTapTitle ]]</legend>

        <label for="url-label-being-edited">Link Label</label>
        <br>
        <input v-model="editingCurrentTap.url_label" id="url-label-being-edited" autofocus type="text">
        <br>

        <label for="url-being-edited">Link URL</label>
        <br>
        <input v-model="editingCurrentTap.url" id="url-being-edited" type="text">
        <br>

        <label for="description-being-edited">Link Notes</label>
        <br>
        <input v-model="editingCurrentTap.description" id="description-being-edited" type="text">
        <br>

        <button @click="saveTap()">Save Changes</button>
        <button @click="loadSingleTap(editingCurrentTap)">Exit without saving</button>
        <button @click="deleteTap(editingCurrentTap)">Delete the Link</button>
      </fieldset>
    </template>

  </div>
</div>

<!-- <fieldset>
  <legend>Choose your favorite monster</legend>

  <input type="radio" id="kraken" name="monster">
  <label for="kraken">Kraken</label><br/>

  <input type="radio" id="sasquatch" name="monster">
  <label for="sasquatch">Sasquatch</label><br/>

  <input type="radio" id="mothman" name="monster">
  <label for="mothman">Mothman</label>
</fieldset> -->


{% endblock %}